* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: Arial;
}

.bond {
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    padding: 17px 0;
}
.banner {
    overflow: hidden;
    height: auto;
}

.banner img {
    
    width: 100%;
    object-fit: cover;
    background-position: center;
}


#logo {
    overflow: hidden;
    background: black;
}

.header  {
    text-align: center;
    color: #403c39;
    text-transform: capitalize;
    font-size: 20;
   
    float: left;
    font-style: bold;
   
}
.header h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #49a9a4;
    margin: 11px 0;
    font-size: 35;
}

.header h1 span {
    color: #f32fa5;
    font-size: 47px;
}
.lll {
  
    float: right;
   
    font-family: Arial;
}

.lll a {
    text-decoration: none;
    color: #f32fa5;
    text-decoration: none;
    padding: 3px 10px;
    transition: 0.3s;
    display: inline-block;
    text-transform: blod;
    font-weight: 600;
    font-size: 16px;
    font-family: arial;
    margin: 17px 20px;
    overflow: hidden;
}

.lll a:hover {
    overflow: hidden;
    color: #49a9a4;
}





.area {
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    padding: 0;
}

.box1 {
    width: 100%;
    overflow: hidden;
   
}


.Shoes {
    float: left;
    text-align: center;
    font-family: arial;
    width: 350;
    height: auto;
    overflow: hidden;
    margin: 50px 25px;
}

.Shoes img {
    width: 320px;
    padding: 6px -1px;
    padding: 0 15;
    object-fit: cover;
    background-position: center;
    margin: 50px 0;
    height: 300;
}

.Shoes h6 {
    font-size: 20px;
    margin-bottom: 20px;
    height: 50px;
    color: #000000;
    font-family: arial;
}

.Shoes h3 {
    font-size: 20px;
    font-family: arial;
    margin-bottom: 20px;
    color: #f32fa5;
}
.Shoes a {
    background: #49a9a4;
    display: block;
    padding: 15px 0px;
    text-decoration: none;
   
    font-family: arial;
    color: white;
    font-weight: 700;
    border-radius: 10;
    border-radius: 20px;
}
.Shoes a:hover {
    background: #f32fa5;
    
}


.pic-soc {
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
    background-size: cover;
    height: 800px;
    background-image: url(cc.jpg);
}

.pic-soc:before {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.68;
}

.pic-soc h2 {
    position: absolute;
    color: #ffffff;
    font-size: 84px;
    font-family: 'Josefin Sans', sans-serif;
    top: 50%;
   
    left: 50%;
    transform: translate(-50%, -50%);
}
.cr{

}
.cr img{

}
.footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background: black;
}

.footer p{
    
color: white;
    
margin: 80px 0;
    
font-size: 30px;
}


